[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Bootstrap Tutorial For Beginners - Responsive Design with Bootstrap 3 - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=no-Ntkc836w
Icon=text-html
