[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia 10.- Curso Bootstrap. Guía de novedades en Bootstrap 3. - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=bS8K_RR1H2c
Icon=text-html
